<?xml version="1.0"?>
<configuration>
  <system.web>
    <httpCookies httpOnlyCookies="true" requireSSL="true" />
  </system.web>
  <system.webServer>
    <directoryBrowse enabled="false" />
    <urlCompression doDynamicCompression="true" doStaticCompression="true" />
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
        <add name="X-Frame-Options" value="SAMEORIGIN" />
      </customHeaders>
    </httpProtocol>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
    </handlers>
    <aspNetCore requestTimeout="00:30:00" processPath="dotnet" arguments="./bin/Debug/netcoreapp2.2/WebApplication2.dll" stdoutLogEnabled="true" stdoutLogFile=".\bin\logs\stdout" />
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00" />
    </staticContent>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="524288000" />  <!-- 500 MB-->
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>